@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

#root{
  font-family: 'Bayon', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

*::-webkit-scrollbar{
  display: none;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.lineText{
  font-weight: bold;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
}

.dropdown {
  position: absolute;
  transform: scaleY(0); /* Initial state */
  transform-origin: top;
  transition: transform 0.3s ease-out; /* Animation */
}

.dropdown.open {
  transform: scaleY(1); /* Open state */
}

.timeline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  right: 0;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.year::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: -24px;
  background-color: white;
  border: 4px solid #FF9F55;
  border-radius: 50%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.year:hover::after{
  background-color: #FF9F55;
}